<div class="header clearfix" ng-controller="NavCtrl" >
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"  ng-class="{active: isActive('/')}" ><a href="#/">Home</a></li>
            <li role="presentation"  ng-class="{active: isActive('/news')}" ><a href="#/news">News</a></li>
            <li role="presentation"  ng-class="{active: isActive('/about')}" ><a href="#/about">About</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Aroin Example</h3>
 </div>
